@mixin title($font-size: 30vw, $color: var(--light)) {
  opacity: 1;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: $font-size;
  color: transparent;
  font-weight: unset;
  line-height: normal;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color;

  :deep(span) {
    font-variation-settings: "wdth" 0;
    transition: font-variation-settings 500ms, color 500ms;
    color: inherit;

    &:hover {
      font-variation-settings: "wdth" 1000;
      color: $color;
    }
  }
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}
