@font-face {
  font-family: "Neue Metana";
  src: url("~/assets/fonts/NewMetana-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Metana";
  src: url("~/assets/fonts/NewMetana-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}