:root {
  // --dark: #111;
  --dark: #050505;
  --light: lightgray;
  --text-color: white;

  font-family: "Neue Metana";
  color: var(--text-color);
  cursor: none;
}

h1,
h2,
h3,
.typed {
  font-family: RibbonVF;
}

body {
  margin: 0;
  position: relative;
  font-weight: normal;
  background-color: var(--dark);
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.column-border {
  --column-width: calc(1 / 6 * 100vw);
  --border-color: var(--dark);

  &-gray {
    --border-color: var(--light);
  }

  &:not(&-left):after,
  &:not(&-right):before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.15;
    width: var(--column-width);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    pointer-events: none;
  }

  &:not(&-right):before {
    inset: 0 auto 0 5vw;
  }

  &:not(&-left):after {
    inset: 0 5vw 0 auto;
  }

  &-padded {
    padding: calc(5vw + var(--column-width) / 4)
      calc(5vw + var(--column-width) / 2);
  }
}
