:root {
  --dark: #050505;
  --light: #fee7dd;
  --text-color: white;

  font-family: Raleway;
  color: var(--text-color);
}

h1,
h2,
h3,
.typed {
  font-family: RibbonVF;
}

body {
  margin: 0;
  position: relative;
  font-weight: normal;
  background-color: var(--dark);
  max-width: 100svw;
}

.column-border {
  --column-width: calc(1 / 6 * 100vw);
  --border-color: var(--dark);

  &-gray {
    --border-color: var(--light);
  }

  &:not(&-left):after,
  &:not(&-right):before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.15;
    width: var(--column-width);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    pointer-events: none;
    z-index: -1;
  }

  &:not(&-right):before {
    inset: 0 auto 0 5vw;
  }

  &:not(&-left):after {
    inset: 0 5vw 0 auto;
  }

  &-padded {
    padding: calc(5vw + var(--column-width) / 4)
      calc(5vw + var(--column-width) / 2);
  }
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
