:root {
  --cursor-mouse-x: 50%;
  --cursor-mouse-y: 50%;
  --dark-bg: #111;
  --lightgray-border: lightgray;
  --text-color: white;

  font-family: Neue Metana;
  color: var(--text-color);
}

body {
  margin: 0;
  position: relative;
  font-weight: normal;
  background-color: var(--dark-bg);

  &::-webkit-scrollbar {
    display: none;
  }
}

.column-border {
  --border-color: var(--dark-bg);

  &-gray {
    --border-color: var(--lightgray-border);
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.15;
    width: calc(1 / 6 * 100vw);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    pointer-events: none;
  }

  &:before {
    inset: 0 auto 0 5%;
  }

  &:after {
    inset: 0 5% 0 auto;
  }
}
